{% extends "student/base.html" %}

{% block content %}
    <div class="body"
         style="background-image: url('https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fimg.17sucai.com%2Fupload%2F18693%2F2013-07-31%2F89d2029ffbff694503f7526b08262fca.png%3Fx-oss-process%3Dstyle%2Fpri&refer=http%3A%2F%2Fimg.17sucai.com&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=auto?sec=1650609258&t=48efe941c74f6480c6038d912ac6895e');width: 2000px;height: 800px;">
        <h4 style="color: white;position:absolute;top: 203px;left: 366px">请添加课程：</h4>
        <span
            style="color: red;position:absolute;top: 200px;left: 450px">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp{{ tips }}
        </span>
        <div class="container" style="position: absolute;top: 230px;left: 350px">
            <form action="/student/add3/" method="post" enctype="application/x-www-form-urlencoded">
                {% csrf_token %}
                <p><span style="color: white">班级：</span><input type="text" name="name" placeholder="请输入班级名称(必填)"
                                                               aria-describedby="sizing-addon2"
                                                               style="width: 500px; height: 50px" value="{{ name }}"></p>
                <button class="btn btn-lg btn-primary" style="position:absolute;left: 455px;top: 350px">提交</button>
            </form>
        </div>
    </div>
{% endblock content %}